body {
    display:flex;
     }




#conteneur1 {

    display: flex;
    flex-direction: column;
    width: 27%;
    justify-content: space-between;
    background-color: #FFC107;
    
 
 }



.titregauche {

    background-color: #37474F;
    text-align: center;
    color: #FFC107;

}

.loisirs {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 13%;
}


.contact {
    text-align: justify;
    padding-right: 10%;
    padding-left: 10%;
}

.apropos {

    text-align: justify;
    padding-right: 10%;
    padding-left:10%;

}

#photo {
    padding: 10%;
    padding-top: 10%;
    text-align:center;
}



#conteneur2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: justify;
    width: 73%;
    padding-top: 8%;
    padding-bottom:8%;
    padding-left: 8%;
    padding-right: 8%;
    
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    

.jaune {
    color: #FFC107;
    display:inline;
    
}

footer {
    
    
}

.form {
      display: flex;
      flex-direction:column;
    
}

.date1 {
    display: flex;
    justify-content: space-around;
}

.dates {

    width:33%;


}

.descript {

    width:67%;
}


h2 {
    border-bottom: 2px solid #000;
    border-color: #FFC107;
}

.dev {
    border-bottom: 1px solid #000;
    border-color: #FFC107;
    display: inline;
}